backend-laravel/node_modules
backend-laravel/public/build
backend-laravel/public/hot
backend-laravel/public/storage
backend-laravel/storage/*.key
backend-laravel/vendor
backend-laravel/.env
backend-laravel/.env.backup
backend-laravel/.env.production
backend-laravel/.phpunit.result.cache
backend-laravel/Homestead.json
backend-laravel/Homestead.yaml
backend-laravel/auth.json
backend-laravel/npm-debug.log
backend-laravel/yarn-error.log
backend-laravel/.fleet
backend-laravel/.idea
backend-laravel/.vscode
